<section class="container">
  <h3 class="season-name">{{season.name}}</h3>
  <section class="flex-row justify-center">
    {{#each season.seasons as |season|}}
    {{> eachseason-details}}
    {{/each}}
  </section>
</section>

<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Title</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Description</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Location</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Location">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Comments</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Comments...">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Specie</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>Swordfish</option>
      <option>Tuna</option>
      <option>Salmon</option>
      <option>Trout</option>
      <option>Barracuda</option>
      <option>Guppy</option>

    </select>
  </div>
  
  <div class="col-12" style ="margin-bottom: 5px;">
    <button type="submit" class="btn btn-primary" style="width:100px; font-weight: bold;">Post</button>
  </div>
</form>

<aside>
  <div class="card" style="width:600px;">
    <h5 class="card-header">Title</h5>
    <div class="card-body">
      <h5 class="card-title">Description</h5>
      <p class="card-text">Comments.</p>
      <a href="#" class="btn btn-primary">Post Comments?</a>
    </div>
  </div>
  <div class="card" style="width:600px;">
    <h5 class="card-header">Title</h5>
    <div class="card-body">
      <h5 class="card-title">Description</h5>
      <p class="card-text">Comments.</p>
      <a href="#" class="btn btn-primary">Post Comments?</a>
    </div>
  </div>
  <div class="card" style="width:600px;">
    <h5 class="card-header">Title</h5>
    <div class="card-body">
      <h5 class="card-title">Description</h5>
      <p class="card-text">Comments.</p>
      <a href="#" class="btn btn-primary">Post Comments?</a>
    </div>
  </div>
  
</aside>