<section class="container">
  <h3 class="season-name">{{season.name}}</h3>
  <section class="flex-row justify-center">
    {{#each season.seasons as |season|}}
    {{> eachseason-details}}
    {{/each}}
  </section>
</section>